body {
    background-image: url('background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#display {
    font-size: 50px;
    border: 1px solid black;
    padding: 5px 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 2px;
    width: 225px;
    height: 50px;
}

#big-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    border: 1px solid black;
    flex-wrap: wrap;
    padding: 10px;
    background-image: radial-gradient(#868673, #51514a);
    justify-content: space-around;
    border-radius: 2px;
}

.small-container {
    display: flex;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
}

button {
    height: 50px;
    width: 50px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(236, 236, 236);
    box-shadow: 0 1px rgb(158, 158, 158);
}

#clear {
    width: 160px;
    background-color: red;
    color: white;
}

#equals {
    width: 105px;
    background-color: rgb(41, 75, 197);
    color: white;
}

#last-row {
    margin-bottom: 20px;
}

button:hover {
    filter: brightness(120%);
}

button:active {
    transform: translateY(3px);
}

.operator-button {
    background-color: rgb(180, 180, 180);
}