body {
    background-image: url('background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#display {
    font-size: 50px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 2px;
    width: 250px;
    height: 50px;
    text-align: right;
    box-shadow: inset 3px 3px rgb(216, 216, 216);
}

#big-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    border: 1px solid black;
    flex-wrap: wrap;
    padding: 10px;
    background-image: radial-gradient(#868673, #51514a);
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #3b3b38;
}

.small-container {
    display: flex;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
}

button {
    height: 50px;
    width: 50px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(236, 236, 236);
    box-shadow: 0 1px rgb(158, 158, 158);
}

#clear {
    background-color: red;
    color: white;
    font-size: 22px;
}

#equals {
    width: 105px;
    background-color: rgb(41, 75, 197);
    color: white;
}

#last-row {
    margin-bottom: 20px;
}

button:hover {
    filter: brightness(120%);
}

button:active {
    transform: translateY(3px);
}

.operator-button {
    background-color: rgb(198, 135, 19);
    /*background-color: rgb(0, 181, 0);*/
}

#backspace {
    background-color: grey;
    color: white;
    font-size:35px;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}